################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/dnaPrint_3/v15/Server/sqlite3
/Site/bin/roslyn
