body {
}
.login input{
    position:relative;
    width:100%;
    margin-bottom:10px;
    height:40px;
    padding:2px 2px;
    box-sizing:border-box;
    font-size:15px;
    outline:none;
    border:1px solid ;
    background-color:transparent;
}
.login label {
    position:absolute;
    top:2px;
    left:37px;
    padding:0;
    pointer-events:none;
    background-color:transparent;
    text-transform:uppercase;
}
